<!doctype html>
<html>

<head>
    <!--这是一个默认模板页面，该页面可以写静态数据，或者引入全局js文件等，不会被编译-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />

</head>

<body>

    <div id="root"></div>

</body>

</html>